/* =========================================
   Angular Material 19 - M3 Theme Variables
   Sample Theme
   ========================================= */

:root {

  /* ================= PRIMARY ================= */
  --md-sys-color-primary: #006685;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #bee9ff;
  --md-sys-color-on-primary-container: #001f2a;

  /* Fixed */
  --md-sys-color-primary-fixed: #bee9ff;
  --md-sys-color-primary-fixed-dim: #71d2fd;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #003546;

  /* ================= SECONDARY ================= */
  --md-sys-color-secondary: #086683;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #bde9ff;
  --md-sys-color-on-secondary-container: #001f2a;

  --md-sys-color-secondary-fixed: #bde9ff;
  --md-sys-color-secondary-fixed-dim: #88d0f0;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #003546;

  /* ================= TERTIARY ================= */
  --md-sys-color-tertiary: #ae2f34;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ffdad8;
  --md-sys-color-on-tertiary-container: #410006;

  --md-sys-color-tertiary-fixed: #ffdad8;
  --md-sys-color-tertiary-fixed-dim: #ffb3b0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #68000f;

  /* ================= BACKGROUND & SURFACE ================= */
  --md-sys-color-background: #f7f9fc;
  --md-sys-color-on-background: #191c1e;

  --md-sys-color-surface: #f7f9fc;
  --md-sys-color-on-surface: #191c1e;

  --md-sys-color-surface-dim: #b6b9bc;
  --md-sys-color-surface-bright: #ffffff;

  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #eff1f4;
  --md-sys-color-surface-container: #e0e3e6;
  --md-sys-color-surface-container-high: #d2d5d7;
  --md-sys-color-surface-container-highest: #c4c7ca;

  --md-sys-color-surface-variant: #dce3ea;
  --md-sys-color-on-surface-variant: #40484d;

  --md-sys-color-inverse-surface: #2d3133;
  --md-sys-color-inverse-on-surface: #ffffff;

  /* ================= OUTLINE ================= */
  --md-sys-color-outline: #585f65;
  --md-sys-color-outline-variant: #c0c7ce;

  /* ================= ERROR ================= */
  --md-sys-color-error: #ba1a20;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410003;

  /* ================= SHADOW & SCRIM ================= */
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;

  /* ================= TINT ================= */
  --md-sys-color-surface-tint: #006685;
}